@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Rye&display=swap');
@font-face {
    font-family: 'Stic';
    src: url('StickSugay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Big';
    src: url('TheBigmouth.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

   /*
    Tipos de fomat()
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-att (Apple Advanced
    Typography)
    - svg
    */
}


body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-family: "Rye", serif;
    font-size: 3em;
    font-weight: 400;
    font-style: normal
    

}
 
    

h2 {
    text-align: center;
    font-family: "Nosifer", sans-serif;
    font-size: 2em;
    font-weight: 400;
    font-style: normal;

    
}

p {
    text-align: justify;
    text-indent: 25px;
    font-family: 'Big';
    font-size: 1em;
} 
